@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

/* Apply typography styles specifically to navbar items */
.navbar-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  